# Защита персональных данных клиентов

# Описание проекта
Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.
Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
from scipy import stats as st
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('/datasets/insurance.csv')

In [3]:
display(data.head(10))

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0
5    1     43.0   41000.0            2                  1
6    1     39.0   39700.0            2                  0
7    1     25.0   38600.0            4                  0
8    1     36.0   49700.0            1                  0
9    1     32.0   51700.0            1                  0

In [4]:
display(data.info())
display(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  5000 non-null int64
Возраст              5000 non-null float64
Зарплата             5000 non-null float64
Члены семьи          5000 non-null int64
Страховые выплаты    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

None

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [5]:
data.columns = ['gender','age','salary','number_of_family','insurance_payments']
data['age'] = data['age'].astype('int')

In [6]:
display(data.head(10))

   gender  age   salary  number_of_family  insurance_payments
0       1   41  49600.0                 1                   0
1       0   46  38000.0                 1                   1
2       0   29  21000.0                 0                   0
3       0   21  41700.0                 2                   0
4       1   28  26100.0                 0                   0
5       1   43  41000.0                 2                   1
6       1   39  39700.0                 2                   0
7       1   25  38600.0                 4                   0
8       1   36  49700.0                 1                   0
9       1   32  51700.0                 1                   0

### Комментарий
Пропущенных значений нет. Значения в столбцах корректны. Название столбцов были переименованы и измененен тип переменных в графе возраст из float в int.

## Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

### Инструкция по выполнению проекта

Загрузите и изучите данные.
Ответьте на вопрос и обоснуйте решение.
Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)
- a. Изменится. Приведите примеры матриц.
- b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.
	
Предложите алгоритм преобразования данных для решения задачи.
Обоснуйте, почему качество линейной регрессии не поменяется.
Запрограммируйте этот алгоритм, применив матричные операции. Проверьте, что качество линейной регрессии из sklearn не отличается до и после преобразования. Примените метрику R2.

#### Вопрос
 Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)

- a. Изменится. Приведите примеры матриц.
- b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.

**Ответ:** Не изменится.

**Обоснование:**

Формула обучения:
$$
w = (X^T X)^{-1} X^T y
$$

Пусть матрица признаков домножается на обратимую матрицу - $P$, Тогда $w'$ - новый вектор весов,  исходная формула обучения примет вид:

$$
w' = ((XP)^T XP)^{-1} (XP)^T y
$$

Воспользовавшись свойством обратной матрицы:
$
(AB)^{-1} = B^{-1}A^{-1}
$, для двух квадратных обратимых матриц $A$ и $B$, исходная формула примет вид:

$$
w' = P^{-1}(P^{T}X^{T}X)^{-1}P^{T}X^{T} y = P^{-1}(X^{T}X)(P^{-1}P)^{T}X^{T} y = P^{-1}(X^T X)^{-1} X^T y = P^{-1}w
$$

Предсказания $a'$ полученные с помощью такого вектора весов:

$$
a' = (XP)w' = (XP)P^{-1}w = Xw = a
$$

Следовательно предсказания не поменяются, а это означает, что качество регрессии останется неизменным.

##  Алгоритм преобразования

**Алгоритм**

Для шифрования матрицу признаков необходимо домножить на обратимую квадратную матрицу $P$ из случайных чисел, как было доказано выше, такая операция не будет влиять на качество линейной регрессии. Для того, чтобы получить исходную матрицу признаков надо домножить шифрованную матрицу признаков на обратную к матрице $P$.

**Обоснование**

То, что качество линейной регрессии не будет изменяться при домножении матрицы признаков на обратимую квадратную уже было доказано.

Чтобы получить исходную матрицу признаков необходимо домножитьшифрованную матрицу признаков на обратную к матрице  $P$: 
$$
P(P^{-1}X) = PP^{-1}X = X
$$

Следовательно можно восстановить исходную матрицу признаков.

## Проверка алгоритма

###  Линейная регрессия до изменения матрицы признаков

In [7]:
features = data.drop(['insurance_payments'], axis = 1)
target = data['insurance_payments']
scaler = StandardScaler()
scaler.fit_transform(features)

array([[ 1.002002  ,  1.19043179,  0.97823503, -0.17795659],
       [-0.998002  ,  1.78285146, -0.19358944, -0.17795659],
       [-0.998002  , -0.23137543, -1.91091841, -1.09431388],
       ...,
       [-0.998002  , -1.29773084, -0.60776878,  0.7384007 ],
       [ 1.002002  , -1.06076297, -0.728992  ,  1.654758  ],
       [ 1.002002  , -0.34985936,  0.06906087, -0.17795659]])

In [8]:
model = LinearRegression()
print('R2: {:.3f}'.format(np.mean(cross_val_score(model,features,target, cv = 5, scoring = 'r2'))))

R2: 0.423

#### Комментарий
Произведено обучение модели линейной регрессии без изменения матрицы признаков.

###  Линейная регрессия при изменении матрицы признаков

In [9]:
def matrix_creation(matrix_in):
    while True:
        try:
            matrix_out = np.random.normal(100, size=(4,4))
            matrix_out_inverse = np.linalg.inv(matrix_out)
        except SomeSpecificException:
            continue
        break
    return matrix_out, matrix_out_inverse

#### Комментарий
Функция которая создает матрицу из случайных чисел и обратную к ней, если она существует.

In [10]:
P_matrix, P_matrix_inverse = matrix_creation(features)
features_new = np.dot(features,P_matrix)

#### Комментарий
Создание матриц и шифрование данных.

In [11]:
scaler_new = StandardScaler()
scaler_new.fit_transform(features_new)

array([[ 0.97929086,  0.97930684,  0.97929281,  0.97931187],
       [-0.19215473, -0.19213346, -0.19214978, -0.19212597],
       [-1.9113189 , -1.91132302, -1.91131687, -1.91132785],
       ...,
       [-0.60884717, -0.60886446, -0.6088502 , -0.60886815],
       [-0.72967142, -0.72968401, -0.72967708, -0.72968376],
       [ 0.06879724,  0.06879384,  0.06879589,  0.06879171]])

In [12]:
model_new = LinearRegression()
print('R2: {:.3f}'.format(np.mean(cross_val_score(model_new,features_new,target, cv = 5, scoring = 'r2'))))

R2: 0.423

#### Комментарий
Результат линейной регрессии при шифровании совпадает с результатом без шифрования.

In [22]:
result = np.dot(features_new,P_matrix_inverse)-features
pd.options.display.float_format = '{:,.2f}'.format
display(result.describe())

        gender      age   salary  number_of_family
count 5,000.00 5,000.00 5,000.00          5,000.00
mean     -0.00    -0.00    -0.00              0.00
std       0.00     0.00     0.00              0.00
min      -0.00    -0.00    -0.00             -0.00
25%      -0.00    -0.00    -0.00             -0.00
50%      -0.00    -0.00    -0.00              0.00
75%      -0.00    -0.00    -0.00              0.00
max       0.00     0.00     0.00              0.00

#### Комментарий
Восстановление исходной матрицы признаков производится домножением измененной матрицы на обратной к матрице преобразования. В качестве результата используется разница матриц до преобразоваия и восстановленной матрицы после преобразования. Результатом таких действий является нулевая матрица, что свидетельсвует о правильности работы алгоритма.